eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    lease-renewal-interval-in-seconds: 1
    lease-expiration-duration-in-seconds: 2

server:
  port: 9300

spring:
  application:
    name: eureka-monitor-client

turbine:
  app-config: eureka-ribbon-client,eureka-feign-client
  aggregator:
    clusterConfig: default
  clusterNameExpression: new String("default")
  combine-host: true